@charset "UTF-8";

.centered{
		display: table;
		margin-left: auto;
		margin-right: auto;
		font-size:12px;
}
	
.fst{
	font-size:12px;
}

table{
border: 1px solid #e2d4d1;
    border-collapse: collapse;
}

.st{
background-color:#e7dcda;

}
